package main

templ home() {
	<html>
		<head>
			<title>Microfrontend example</title>
		</head>
		<body>
			<header>
				Header	
			</header>
			<section>
				<nav>
					Navigation
				</nav>
				<article>
					Article
				</article>
			</section>
		</body>
	</html>
}

